/**
 * position: sticly 粘性布局在 flex box 内应用需要给
 * 父元素设置 overflow: visible; 保证内容可滚动。
 * 该元素设置 align-self: flex-start；使其高度变为 auto 。
 * （由于flex box元素默认为stretch，因此所有元素都具有相同的高度，无法滚动。）
 * 最后设置 top, right, bottom, left 其中之一才能正常工作。
 */

#main {
  display: flex;
  overflow: visible;
}

.aside-wrap {
  // position: sticky;
  // top: 0;
  // height: 1000vh;
  
  overflow: visible;
  flex: 1;
  // align-self: flex-start;
  margin-right: .5rem;
  padding-top: 1rem;
  // transition: padding 0.3s;
  
  & > *:nth-child(2) {
    padding-top: 1rem;
  }
  &.down {
    // padding-top: 4rem;
  }

  .sticky {
    top: var(--nav-height);
    position: sticky;
  }
}
@media screen and (max-width: $mobile) {
  .aside-wrap {
    position: relative;
    align-self: stretch;
  }

  #main {
    flex-direction: column-reverse;
  }

  .post {
    flex: 1;
  }
}
.post {
  flex: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/** 下一页按钮样式 */
.post-btn-next {
  position: relative;
  align-self: center;
  width: 120px;
  line-height: 40px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: var(--theme-primary);
  text-align: center;
  transition: color 0.2s ease;
  z-index: 0;
  cursor: pointer;
  font-family: InfoDisplay;

  .loading {
    position: absolute;
    &::before {
      content: "";
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--background);
    backdrop-filter: blur(10px);
    border: var(--theme-primary) solid 3px;
    transition: background 0.3s ease;
    z-index: -1;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--theme-primary);
    transition: width 0.3s ease;
    z-index: -1;
    margin: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
    &::before {
      background: var(--theme-primary);
    }
    color: var(--white);
  }
}
