@use 'sass:math';

.chip {
  i {
    font-size: 1rem;
    vertical-align: middle;
    padding-right: 0.5rem;
  }
  $height: 1.8rem;

  display: inline-block;
  vertical-align: middle;
  border-radius: math.div($height, 2) !important;
  color: var(--text);
  font-size: 0.8rem;
  line-height: $height;
  padding: 0 0.5rem;
  border: thin solid var(--border);
  transition: border 0.3s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
  &:hover {
    border: thin solid var(--text-primary);
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-primary);
  }
}
