@use 'sass:math';

.chip {
  i {
    font-size: 1.2rem;
    vertical-align: middle;
    padding-right: .5rem;
  }
  display: inline-block;
  vertical-align: middle;

  $height: 2.4rem;
  border-radius: math.div($height, 2) !important;
  @debug math.div($height, 2);
  color: var(--text);
  font-size: 0.8rem;
  line-height: $height;
  padding: 0 0.5rem;
  // margin: 0.5rem 0.1rem;
  // border: thin solid var(--border);
  transition: border 0.3s ease;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
  &:hover {
    // border: thin solid var(--text-primary);
    
  background-color: rgba(0, 0, 0, 0.20);
    color: var(--text-primary);
  }
}
