    $md-font: "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode",
      Helvetica, Arial, Verdana, sans-serif !global;
    $md-code-font: Menlo, Consolas, "Courier New", Courier, FreeMono, monospace !global;
    $md-text: #abb2bf !global;

    $md-bg: #202124 !global; //#292c34;
    $md-code-bg: #292c34 !global;
    $md-code-color: #7e57c2 !global;
    // $md-link: #f596aa;
    $md-link: #00796b !global;
    $md-hr: #f596aa !global;
    $md-border: #f596aa !global;

    $md-h1-border: #f596aa !global;
    $md-blockquote-bg: #484d5c !global;

    $md-block-bg: rgba(127, 127, 127, 0.1) !global;

    $md-colors-1: #ec407a !global;
    $md-colors-2: #7e57c2 !global;
    $md-colors-3: #5c6bc0 !global;
    $md-colors-4: #29b6f6 !global;
    $md-colors-5: #26a69a !global;
    $md-colors-6: #ffca28 !global;
    $md-colors-7: #ff7043 !global;