  $md-font: "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", Helvetica,
    Arial, Verdana, sans-serif;
  $md-code-font: Menlo, Consolas, "Courier New", Courier, FreeMono, monospace;
  $md-text: #abb2bf;

  $md-bg: #202124; //#292c34;
  $md-code-bg: #292c34;
  $md-code-color: #7e57c2;
  // $md-link: #f596aa;
  $md-link: #00796b;
  $md-hr: #f596aa;
  $md-border: #f596aa;

  $md-h1-border: #f596aa;
  $md-blockquote-bg: #484d5c;

  $md-block-bg: rgba(127, 127, 127, 0.1);

  $md-colors-1: #ec407a;
  $md-colors-2: #7e57c2;
  $md-colors-3: #5c6bc0;
  $md-colors-4: #29b6f6;
  $md-colors-5: #26a69a;
  $md-colors-6: #ffca28;
  $md-colors-7: #ff7043;