.label-clouds {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;
  // justify-items: center;
  // align-content: center;

}

.label-item {
  margin: .33rem 0!important;
  // padding: 0!important;
}