#banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  background-position: center;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 1rem, rgba(255, 255, 255, 0.2) 1rem 2rem, rgba(255, 255, 255, 0.1) 2rem 3rem);
    background-position: center;
    background-size: cover;
    z-index: 0;
  }
  &.full {
    // height: 100vh;
    // background-color: transparent;
  }
  &.hide {
    height: 3rem;
    background-color: var(--color-card);
  }
  @media screen and(max-width: $mobile) {
    height: 33vh;
  }
}

.banner--card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: var(--color-text);
  font-family: InfoDisplay;
  z-index: 1;
  .banner--title {
    font-size: 2.2rem;
    font-weight: 500;
    font-family: var(--font-sans-serif);
    cursor: pointer;
    text-shadow: 2px 2px 0px white;
    span {
      transition: color 0.3s ease;
    }
    :hover {
      color: var(--color-text);
    }
  }
  .banner--subtitle {
    font-size: 1.4rem;
    cursor: pointer;
    width: 80vw;
    margin-top: 1rem;
    white-space: pre-wrap;
    font-family: var(--font-serif);
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.67);
    // text-shadow: 1px 1px 0 white;
    .subtitle--cursor {
      height: 100%;
      border-left: white solid 1px;
      margin-left: 0.2rem;
    }
    .subtitle--cursor-vague {
      animation: cursor-vague 1s ease infinite;
    }
  }
  @media screen and (max-width: $mobile) {
    .banner--title {
      font-size: 1.8rem;
    }
    .banner--subtitle {
      font-size: 1.2rem;
    }
  }
}

.btn-scroll {
  position: absolute;
  display: block;
  bottom: 0;
  // background-color: #fff;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  animation: float 3s linear infinite;
  z-index: 1;
}

@keyframes cursor-vague {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
