.pagination-wrap {
  position: relative;
}
.pagination-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.33);
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
  }
  &::after {
    background: skyblue;
    animation: identifier 2s linear infinite;
  }
  &::before {
    background: pink;
    animation: identifier 2s linear -1s infinite;
  }
  @keyframes identifier {
    0% {
      transform: translateX(2rem);
    }
    25% {
      transform: translateX(0) scale(1.2);
      z-index: 2;
    }
    50% {
      transform: translateX(-2rem);
    }
    75% {
      transform: translateX(0) scale(1.2);
      z-index: 1;
    }
    100% {
      transform: translateX(2rem);
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 1rem;

  .pagination-first,
  .pagination-pre,
  .pagination-page,
  .pagination-next,
  .pagination-last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    background-color: white;
    margin: 0.3rem;
    border-radius: 4px;
    box-shadow: var(--shadow);

    &:hover {
    }
  }
  .active {
    border: 2px solid pink;
  }
  .disable {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}