.markdown-preview {
  // display: flex;
  position: relative;
  overflow-y: visible;
  background-color: var(--color-card);
  // align-items: stretch;
  .markdown-image-preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(32, 32, 32, 0.3);
  }
}
.zoom-enter-active {
  transition: 0.3s ease-out;
}
.zoom-leave-active {
  transition: 0.2s ease-in;
}
.zoom-enter,
.zoom-leave-to {
  opacity: 0;
}
.markdown-content {
  flex: 1;
  // overflow: hidden;
  padding: 0 0.5rem;
  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  pre,
  code {
    // padding: 0.5rem;
    padding: 0.2rem;
    margin: 0 !important;
    border-radius: 5px;
    background-color: rgba(64, 64, 64, 0.1);
  }
  pre {
    position: relative;
    line-height: 0;
    padding: 1rem;
    code {
      line-height: 1.3rem;
      padding: 0.5rem 0;
      background-color: transparent;
    }
    .code-options {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1rem;
      margin: 0;
      line-height: 10px;
      user-select: none;
      i {
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .table-wrap {
    overflow: auto;
    width: 100%;
  }
}
