.markdown-preview {
  // display: flex;
  overflow-y: visible;
  background-color: var(--card);
  position: relative;
  // align-items: stretch;
}
.markdown-content {
  flex: 1;
  overflow: hidden;
  padding: 0 0.5rem;
  img {
    width: 100%;
    object-fit: cover;
  }
  pre,
  code {
    padding: 0.5rem;
    border-radius: 5px;
  }
  pre {
    position: relative;
    line-height: 0;
    padding: 1rem;
    code {
      line-height: 1.3rem;
      padding: .5rem 0;
    }
    .code-options {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1rem;
      margin: 0;
      line-height: 10px;
      user-select: none;
      i {
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .table-wrap {
    overflow: auto;
    width: 100%;
  }
}
