.markdown-preview {
  // display: flex;
  overflow-y: visible;
  background-color: var(--card);
  position: relative;
  // align-items: stretch;
}
.markdown-content {
  flex: 1;
  overflow: hidden;
  padding: 0 0.5rem;
  img {
    width: 100%;
    object-fit: cover;
  }
  pre,
  code {
    padding: 0.5rem;
    border-radius: 5px;
  }
  pre {
    position: relative;
    .code-options {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1rem;
      margin: 0;
      line-height: 10px;
      i {
        padding: 0;
        cursor: pointer;
      }
    }
  }
  .table-wrap {
    overflow: auto;
    width: 100%;
  }
}
