.markdown-content {
  --md-font-monospace: 'JetBrains Mono', HYZhengYuan, 'Fira Code', Menlo, 'Ubuntu Mono', Consolas;
  --md-font-sans-serif: 'InfoDisplay', sans-serif;
  --md-font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  // 全局文本字体/颜色
  --md-font-content: var(--md-font-monospace);

  --md-color-content: teal;
  // 标题文本字体/颜色
  --md-font-title: var(--md-font-serif);
  --md-color-title: #204040;

  // 背景颜色
  --md-color-bg: white;

  --item-hover-bg-color: #37474f;

  --drake-accent: #429488;
  --drake-highlight: #429488;

  --a-color: var(--drake-highlight);

  --variable-color: var(--drake-highlight);

  --outline-active-color: var(--a-color);
  --code-block-font: 'MONACO', 'Consolas', 'Courier New', Courier, monospace;
  --code-block-bg-color: #f0f0f0;
  --code-block-color: var(--md-color-content);

  --blockquote-border-color: var(--drake-accent);
  --blockquote-color: var(--md-color-content);
  --blockquote-bg-color: #f0f0f0;

  --strong-color: var(--md-color-title);

  --h2-underline-color: var(--md-color-title);

  --horizontal-divider-color: var(--md-color-title);
  --height-light-color: var(--drake-highlight);
  --height-light-border-color: var(--drake-highlight);

  --yaml-color: #676773;
  --yaml-bg-color: var(--code-block-bg-color);

  --footnotes-bg-color: var(--item-hover-bg-color);
  --footnotes-highlight: #ffd760;

  --table-header-text-color: #f0f0f0;
  --table-header-bg-color: var(--md-color-content);
  --table-border-color: var(--table-header-bg-color);
  --table-bg-color: var(--md-color-bg);

  --table-n2-bg-color: #f0f0f0;

  --input-bg-color: var(--item-hover-bg-color);

  --btn-hover-bg-color: var(--item-hover-bg-color);

  --checkbox-checked: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M425.984 726.016l384-384-59.99-61.995-324.01 324.011-152.021-152.021L213.973 512zm384-598.016q36.01 0 61.013 25.984T896 213.974v596.01q0 34.005-25.003 59.99t-61.013 25.983h-596.01q-36.011 0-61.014-25.984t-25.003-59.989v-596.01q0-34.006 25.003-59.99T213.973 128h596.011z' fill='%2365b73b'/%3E%3C/svg%3E");
  --checkbox-unchecked: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M810.667 213.333v597.334H213.333V213.333h597.334m0-85.333H213.333C166.4 128 128 166.4 128 213.333v597.334C128 857.6 166.4 896 213.333 896h597.334C857.6 896 896 857.6 896 810.667V213.333C896 166.4 857.6 128 810.667 128z' fill='%23acb7c4'/%3E%3C/svg%3E");
}

.markdown-content {
  font-family: var(--md-font-content) !important;
  font-weight: normal;
  color: var(--md-text-color);
  font-feature-settings: 'liga' on, 'calt' on;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  margin: 0;
  line-height: 1.8rem;
  border: 1px solid teal;

  /*code block*/
  pre {
    font-size: 1rem;
    border-radius: 2px;
    word-wrap: normal;
    background-color: var(--code-block-bg-color);
    color: var(--code-block-color);
    border: none;
  }
  code {
    padding: 0.5rem !important;
    font-family: var(--code-block-font);
    display: block;
    overflow-x: auto;
  }

  /*code snippet*/
  tt {
    margin: 0 2px;
    color: var(--drake-highlight);
  }

  /*variable*/
  var {
    color: var(--variable-color);
    font-weight: bold;
  }

  /*quote block*/
  blockquote:before {
    display: block;
    position: absolute;
    content: '';
    width: 4px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blockquote-border-color);
    border-radius: 2px;
  }

  blockquote {
    color: var(--blockquote-color);
    border-radius: 2px;
    padding: 10px 16px;
    background-color: var(--blockquote-bg-color);
    position: relative;
    border-left: none;
  }

  a {
    margin: 0 0.2rem;
  }

  a:any-link {
    color: var(--a-color);
  }

  p > img {
    display: block;
    max-height: 50vh;
    margin: 0.5rem auto;
    border-radius: 2px;
  }

  body > *:first-child {
    margin-top: 0 !important;
  }

  body > *:last-child {
    margin-bottom: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--md-font-title);
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    cursor: text;
    color: var(--md-color-title);
  }

  h3:hover::before,
  h4:hover::before,
  h5:hover::before,
  h6:hover::before {
    visibility: hidden;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
  }
  h2 {
    font-size: 1.6rem;
    display: inline-block;
  }

  h2::after {
    display: block;
    content: '';
    height: 2px;
    margin-top: 2px;
    background-color: var(--h2-underline-color);
    border-radius: 2px;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    text-decoration: none;
  }

  h1 tt,
  h1 code {
    font-size: inherit !important;
  }

  h2 tt,
  h2 code {
    font-size: inherit !important;
  }

  h3 tt,
  h3 code {
    font-size: inherit !important;
  }

  h4 tt,
  h4 code {
    font-size: inherit !important;
  }

  h5 tt,
  h5 code {
    font-size: inherit !important;
  }

  h6 tt,
  h6 code {
    font-size: inherit !important;
  }

  blockquote,
  ul,
  ol,
  dl,
  table {
    margin: 0.8em 0;
  }
  p {
    margin: 0;
  }

  li > ol,
  li > ul {
    margin: 0 0;
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--horizontal-divider-color);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
  }

  body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }

  body > h3:first-child,
  body > h4:first-child,
  body > h5:first-child,
  body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }

  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }

  li p.first {
    display: inline-block;
  }

  ul,
  ol {
    padding-inline-start: 2em;
  }

  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }

  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }

  table {
    margin: 0 auto;
    padding: 0;
    word-break: initial;
    border-collapse: collapse;
    background-color: var(--table-bg-color);
  }
  table tr {
    margin: 0;
    padding: 0;
  }
  table th {
    font-weight: bold;
    border: 0.1em solid var(--table-border-color);
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
  }
  table td {
    border: 0.1em solid var(--table-border-color);
    margin: 0;
    padding: 6px 13px;
  }
  table thead {
    color: var(--table-header-text-color);
    background-color: var(--table-header-bg-color);
  }
  table tr:nth-child(2n) {
    background-color: var(--table-n2-bg-color);
  }
  table tr th:first-child,
  table tr td:first-child {
    margin-top: 0;
  }
  table tr th:last-child,
  table tr td:last-child {
    margin-bottom: 0;
  }

  /*shortcut*/
  kbd {
    border: 0.1em solid #5b5b5e;
    background: transparent;
    color: var(--md-color-content);
    margin: 0 0.4rem;
    font-size: 0.95rem;
    padding: 0.3em 0.4em;
    border-radius: 0.4em;
    vertical-align: top;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
  }

  .md-task-list-item > input {
    margin-left: -1.3em;
  }

  @media print {
    html {
      font-size: 12px;
    }

    table,
    pre {
      page-break-inside: avoid;
    }

    pre {
      word-wrap: break-word;
    }
  }

  .mathjax-block > .code-tooltip {
    bottom: 0.375rem;
  }

  .md-image > .md-meta {
    border-radius: 2px;
    font-family: initial;
    padding: 2px 0 0 4px;
    color: inherit;
  }

  .md-tag {
    color: inherit;
  }

  .md-toc {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  /*search input*/
  .form-control {
    border: none;
    border-radius: 2px;
    box-shadow: none;
  }

  .form-control:focus {
    box-shadow: none;
  }

  /** focus mode */
  .on-focus-mode blockquote {
    border-left-color: rgba(85, 85, 85, 0.12);
  }

  header,
  footer {
    font-family: initial;
  }

  /*sidebar*/
  .file-node-content:hover .file-node-icon,
  .file-node-content:hover .file-node-open-state {
    visibility: visible;
  }

  .sidebar-tabs {
    border-bottom: none;
  }

  .file-list-item-summary,
  .file-list-item-parent-loc,
  .file-list-item-time,
  .file-list-item-summary {
    font-size: 0.9rem !important;
    font-family: var(--md-font-content);
  }

  .file-list-item-file-ext-part {
    display: none;
  }

  .outline-item {
    font-size: 1rem;
  }

  /*footnotes content*/
  .md-hover-tip .code-tooltip-content {
    border-radius: 2px;
  }

  /*footnotes title*/
  span.md-def-name {
    padding-right: 3ch;
    padding-left: 0;
    position: relative;
    font-weight: normal;
  }

  /*footnotes desc*/
  .footnotes {
    font-size: 1rem;
    font-weight: normal;
    color: var(--md-color-content);
    position: relative;
  }

  /*footnotes tooltip text*/
  .code-tooltip-content .md-plain {
    font-size: 0.9rem;
    font-family: inherit;
  }

  .code-tooltip-content code {
    padding: 0 2px;
    font-family: inherit;
    color: var(--footnotes-highlight);
    background-color: inherit;
  }

  .code-tooltip-content a {
    color: var(--footnotes-highlight);
  }

  div.code-tooltip-content {
    box-shadow: 0 0 8px #00000045;
    background: var(--footnotes-bg-color);
  }

  .footnotes {
    opacity: 1;
  }

  .md-def-name:after {
    content: '. ^';
    color: var(--md-color-content);
  }

  .md-def-footnote .md-def-name:before {
    content: '';
    color: var(--md-color-content);
    position: absolute;
  }

  .md-def-name:before {
    content: '';
    color: var(--md-color-content);
    position: absolute;
  }

  .md-content.md-url,
  .md-def-content.md-def-url.md-auto-disp {
    text-decoration: none;
    border-bottom: 0.1rem solid var(--md-color-content);
  }

  .CodeMirror-scroll::-webkit-scrollbar {
    display: none;
  }

  .file-list-item-summary {
    font-size: 1em;
  }

  .pin-outline .outline-active {
    font-weight: 500;
    color: var(--outline-active-color);
  }

  .file-list-item.active {
    border-left: 4px solid var(--drake-accent);
  }

  /*insert table*/
  .btn {
    border-radius: 2px;
  }

  .modal-content {
    border-radius: 8px;
  }

  .btn-primary:hover,
  .btn-primary:active {
    background-color: var(--btn-hover-bg-color);
    color: var(--drake-highlight);
  }

  .btn-primary {
    background-color: transparent;
    color: var(--drake-highlight);
  }

  .btn-default {
    background-color: transparent;
  }

  .btn:active {
    box-shadow: none;
    border-color: transparent;
  }

  .long-btn {
    width: inherit;
    min-width: 300px;
    border: 1px solid var(--md-color-content);
    border-radius: 6px;
  }

  header,
  footer {
    font-family: var(--md-font-content);
  }
  .ty-preferences select {
    padding-left: 2px;
  }
  .preference-item-hint {
    font-size: 14px;
  }
  a.ty-link {
    color: var(--a-color);
    margin: 0 0.2rem;
  }
}
