
#main {
  margin: 0 auto;
  .subtitle {
    text-align: center;
    font-size: 1.5rem;
  }
} 
.about {
  margin: 0 2rem;
  .blockquote {
    display: flex;
    line-height: 5rem;
    padding: 1rem;
    color: var(--text);
    i {
      font-size: 2rem;
    }
    .quote-left {
      align-self: flex-start;
      transform: rotateZ(180deg);
    }
    .quote-right {
      align-self: flex-end;
    }
    .quote-content {
      text-align: center;
      flex: 1;
      padding: 1rem;
      align-self: center;
      font-size: 1.5rem;
    }
  }
  hr {
    margin-bottom: 1rem;
  }
}