:root {
  // 背景颜色
  --color-background: rgba(255, 255, 255, 0.33);
  // 文本
  --color-text: rgba(32, 32, 32, 1);
  // 文本-强调
  --color-text-primary: rgba(49, 98, 135, 1); /*rgba(139, 207, 222, 1);*/
  // 文本-次要
  --color-text-secondary: rgba(96, 96, 96, 1);
  // 主题-强调
  --color-primary: rgba(139, 207, 222, 1);
  // 主题-次要
  --color-secondary: rgba(139, 207, 222, 1);
  // 头部背景
  --color-header: rgba(255, 255, 255, 0.3);
  // 卡片背景
  --color-card: rgba(255, 255, 255, 0.9);
  // 卡片背景-活动
  --color-card-active: rgba(255, 255, 255, 1);
  // 卡片-透明
  --color-card-alpha: rgba(255, 255, 255, 0.6);
  // 边框
  --color-border: #dcdcdc;
  // 白
  --color-light: white;
  // 黑
  --color-dark: black;  
  // 阴影
  --shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);/*0 3px 8px 6px rgba(7,19,27,0.06)*/
  // 阴影-扩散
  --shadow-active: rgba(7, 19, 27, 0.15);
}
