:root {
  // --background: rgba(0, 0, 0, 0.2);
  --background: rgba(255, 255, 255, 0.33);
  // 文本
  --text: rgba(32, 32, 32, 1);
  // 文本-强调
  --text-primary: rgba(49, 98, 135, 1); /*rgba(139, 207, 222, 1);*/
  // 文本-次要
  --text-secondary: rgba(96, 96, 96, 1);
  // 容器背景
  --container: rgba(0, 0, 0, 0.2);
  // 主题
  --theme: rgba(139, 207, 222, 1);
  // 主题-强调
  --theme-primary: rgba(139, 207, 222, 1);
  // 主题-次要
  --theme-secondary: rgba(178, 143, 206, 1);
  // 头部背景
  --header: rgba(255, 255, 255, 0.3);
  // 阴影
  --shadow: rgba(7, 19, 27, 0.24); /*0 3px 8px 6px rgba(7,19,27,0.06)*/
  // 阴影-扩散
  --shadow-active: rgba(7, 19, 27, 0.15);
  // 卡片背景
  // --card: rgba(245, 245, 245, 1);
  --card: rgba(255, 255, 255, 0.9);
  // 卡片背景-活动
  --card-active: rgba(255, 255, 255, 1);
  // 卡片-透明
  --card-alpha: rgba(255, 255, 255, 0.6);
  // 边框
  --border: #dcdcdc;
  // 白
  --white: white;
  // 黑
  --black: black;
  //
  --active-background: rgba(0, 0, 0, 0.2);
}
